<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统管理</title>
    <link rel="stylesheet" href="/static/fontawesome5/css/all.min.css">
    <link rel="stylesheet" href="/static/bootstrap5/css/bootstrap.min.css">
    <script src="/static/bootstrap5/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <h1>系统管理</h1>
    <div class="mb-3 row">
        <label for="encrypt_type" class="col-2">bsw07加密方案：</label>
        <div class="col-2">
            <button type="button" class="btn btn-success"
                    onclick="change_page('{{ url_for("manage.init_system",enc_type='bsw07') }}')">初始化
            </button>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="encrypt_type" class="col-2">rsa24加密方案：</label>
        <div class="col-2">
            <button type="button" class="btn btn-warning"
                    onclick="change_page('{{ url_for("manage.init_system",enc_type='rsa24') }}')">初始化
            </button>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="encrypt_type" class="col-2">基础属性：</label>
        <div class="col-2">
            <select id="base_attr" class="form-select" onchange="change_page('{{ url_for('manage.set_base')}}?name='+document.getElementById('base_attr').value)">
                {% for attribute in attributes %}
                    {% if attribute.is_base %}
                    <option selected>{{ attribute.name }}</option>
                    {% else %}
                    <option>{{ attribute.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<script>
    function change_page(page_url) {
        document.location.href = page_url;
    }
</script>
</body>
</html>